# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off

[*.{js,css,html}]
indent_style = space
indent_size = 2
spaces_around_brackets = both
indent_brace_style = K&R
quote_type = auto
